@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-288px, 0, 0); /* The image width */
  }
}

@keyframes flapping {
  0% {
    background-image: url("./assets/sprites/yellowbird-midflap.png");
  }
  25% {
    background-image: url("./assets/sprites/yellowbird-upflap.png");
  }
  50% {
    background-image: url("./assets/sprites/yellowbird-midflap.png");
  }
  75% {
    background-image: url("./assets/sprites/yellowbird-downflap.png");
  }
}

@keyframes idle {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
}